body{
   	background: radial-gradient(ellipse at center, #b8e0e4 0, #96d5db 100%);
   	font-family: lato-regular, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.logon-box {
	background-color: rgba(255, 255, 255, 0.498039);
	border-bottom-color: rgb(160, 206, 225);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(160, 206, 225);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(160, 206, 225);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(160, 206, 225);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-style:solid;
	border-top-width:1px;
	box-sizing:border-box;
	color:rgb(103, 105, 113);
	display:block;
	font-family:lato-regular, Helvetica, Arial, sans-serif;
	font-size:16px;
	height:345px;
	line-height:22.4px;
	margin-bottom:0px;
	padding-bottom:30px;
	padding-left:25px;
	padding-right:25px;
	padding-top:30px;
	width:360px;
	margin:0 auto;
	margin-top: 50px;
}
.logon-box h3 {
    margin: 0;
    font-family:lato-regular, Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:500;
	height:22px;
	line-height:22px;
}
.primary-button{ 
	background-color:#833177; 
	color:#fff; 
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}