*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#eclipse metadata
*.metadata

*.gradle
/bin/*
/build/*
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_7.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_7.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_7.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_7.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_7.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_7.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_7.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_8.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_8.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_8.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_8.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_8.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_8.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_8.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_8.prx
.metadata/.plugins/org.eclipse.core.resources/.projects/snowplow/.indexes/e4/b9/22/81/7a/e7/29/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/snowplow/.indexes/e4/b9/22/81/7a/e7/b5/history.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1067419512.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.history/eb/a0572be6b57500171329e169cd996f55
